:root {
  /* Colours */
	--almostBlack: rgb(17, 17, 17);
	--brightBlue: rgb(2, 167, 189);
  --red: rgb(205, 19, 22);
  --veryLightGrey: rgb(245, 245, 245);
  /* Font Stacks */
  --fontStackSystem: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --fontStackMono: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  --fontStackGeorgia: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

body {
  font-family: var(--fontStackGeorgia);
  font-size: 1.6em;
  color: var(--veryLightGrey);
  background-color: var(--almostBlack);
}

nav {
  font-weight: bold;
}

nav li {
  display: inline;
  padding: 0;
  margin: 0 10px 0 0;
}

nav ul {
  list-style-type: none;
  display: inline;
  padding: 0;
  margin: 0 10px 0 0;
}

a {
  text-decoration: none;
  color: var(--red);
  font-family: var(--fontStackSystem);
}

/* a:visited {
  color: var(--almostBlack);
} */

a:hover {
  /* color: var(--brightBlue); */
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--fontStackSystem);
}

#skills, #history, #projects, #education, #homepageIntroText, #homepageWork {
  background-color: indigo;
}